<div class="container">
   <%= render 'tabs' %>

  <% @articles.each do |article| %>
    <%= render 'commons/article', article: article %>
  <% end %>

  <%= link_to new_article_path do %>
    <div class="float_btn">
      <i class="fa fa-plus"></i>
    </div>
  <% end %>
</div>



